{% extends 'Vertical-navbar.html' %}

{% block body %}

<link rel="stylesheet" type="text/css" href="../static/css/normal.css">
<div class="container-fluid">
    <!-- Main content -->
    <div
        class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Ingreso</h1>
        <div class="d-flex ms-md-auto">
            <a href="{{url_for('Ingreso')}}" class="btn btn-outline-light me-2">Iniciar sesión</a>
            <a href="{{url_for('Registrarse')}}" class="btn btn-light">Registrarse</a>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 50px;">
        <div class="d-flex justify-content-center align-items-center">
            <!-- 56px es la altura aproximada del navbar, ajusta este valor según sea necesario -->
            <div class="col-xl-10">
                <div class="row">
                    <!-- Columnas para la imagen -->
                    <div class="col-xl-4 offset-xl-1 mb-4 mb-xl-0 d-none d-lg-block">
                        <!-- Aquí se coloca la imagen -->
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                            class="img-fluid" alt="Phone image" />
                    </div>
                    <!-- Columnas para el formulario -->
                    <div class="col-xl-5 offset-xl-1">
                        <!-- Aquí comienza la sección del formulario -->
                        <form method="post" action="/iniciar_sesion">
                            <!-- Eliminar la clase text-end del formulario -->
                            <h1 class="fw-bold mb-4 signin__titulo text-white text-center" data-section="singin" data-value="Sign In">
                                Iniciar Sesión</h1>
                            <!-- Agregar la clase text-center para centrar el título -->
                            <!-- Email input -->
                            <div class="form-check text-white">
                                <input class="form-check-input" type="radio" name="elegir_sesion" id="elegir_doctor" value="doctor" checked>
                                <label class="form-check-label" for="elegir_doctor">Iniciar sesión como doctor</label>
                            </div>
                            <div class="form-check mb-3 text-white">
                                <input class="form-check-input" type="radio" name="elegir_sesion" id="elegir_recepcionista" value="recepcionista">
                                <label class="form-check-label" for="elegir_recepcionista">Iniciar sesión como recepcionista</label>
                            </div>

                            <div class="form-outline mb-4 text-white" id="login_doctor">
                                <label for="email" data-section="signin" data-value="Email Address">Ingrese su cédula profesional</label>
                                <!-- Eliminar la clase text-end de la etiqueta -->
                                <input type="text" value=""
                                    class="form-control mt-2" id="cedula-doctor"
                                    name="cedula-doctor" required data-bs-toggle="tooltip-bademail" data-bs-placement="left"
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-title="{% if email_not_found %}Correo no encontrado.{% else %}Por favor, ingresa un correo electronico con un dominio valido como: @gmail.com, @hotmail.com, @live.com, o @outlook.com.{% endif %}" />
                            </div>

                            <div class="form-outline mb-4 text-white" id="login_recepcionista">
                                <label for="text" data-section="signin" data-value="Email Address">Ingrese su RFC</label>
                                <!-- Eliminar la clase text-end de la etiqueta -->
                                <input type="text" value=""
                                    class="form-control mt-2" id="rfc-recepcionista"
                                    name="rfc-recepcionista" required data-bs-toggle="tooltip-bademail" data-bs-placement="left"
                                    data-bs-custom-class="custom-tooltip"
                                    data-bs-title="{% if email_not_found %}Correo no encontrado.{% else %}Por favor, ingresa un correo electronico con un dominio valido como: @gmail.com, @hotmail.com, @live.com, o @outlook.com.{% endif %}" />
                            </div>
                            
                            <!-- Password input -->
                            <div class="form-outline mb-4 text-white" >
                                <label for="password" data-section="singin" data-value="Password">Contraseña</label>
                                <!-- Eliminar la clase text-end de la etiqueta -->
                                <input type="password"
                                    class="form-control mt-2 {% if bad_password %}is-invalid{% endif %}" id="password"
                                    name="password" required data-bs-toggle="tooltip-badpassword"
                                    data-bs-placement="left" data-bs-custom-class="custom-tooltip"/>
                            </div>
                            <div class="d-flex flex-column align-items-left mb-4 sigin__remembe0r text-white">
                                <!-- Enlace "Forgot password?" -->
                                <div class="">
                                    <a data-section="singin" data-value="Don’t have an account?">¿No cuentas con una
                                        cuenta?</a>
                                    <a data-section="singin" data-value="check in" href=""
                                        class="forget">Presione aquí</a>
                                </div>
                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="btn__form btn btn-primary btn-lg btn-block" id="submitButton">
                                <span data-section="singin" data-value="Sign in">Iniciar sesión</span>
                            </button>
                            <!-- Eliminar la clase text-end del botón -->
                        </form>
                        <!-- Fin del formulario -->
                    </div>
                    <!-- Fin de la columna -->
                </div>
                <!-- Fin de la fila -->
            </div>
        </div>
    </div>

    <script>
        const checkDoctor = document.getElementById('elegir_doctor') //False
        checkDoctor.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                console.log('Elegir doctor')
                document.getElementById('login_doctor').removeAttribute('hidden')
                document.getElementById('cedula-doctor').setAttribute('required', 'true')
                
                document.getElementById('login_recepcionista').setAttribute('hidden', 'true')
                document.getElementById('rfc-recepcionista').removeAttribute('required')
            } 
        })
        var event = new Event('change');
        checkDoctor.dispatchEvent(event);

        const checkRecepcionista = document.getElementById('elegir_recepcionista') //True
        checkRecepcionista.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                console.log('elegir recepcionista')
                document.getElementById('login_recepcionista').removeAttribute('hidden')
                document.getElementById('rfc-recepcionista').setAttribute('required', 'true')
                
                document.getElementById('login_doctor').setAttribute('hidden', 'true')
                document.getElementById('cedula-doctor').removeAttribute('required')
            }
        })

    </script>
{% endblock %}
