{% extends 'Vertical-navbar.html' %}

{% block body %}

<style>
.table {
    border-radius: 0.5rem; /* Ajusta el valor según lo necesites */
    overflow: hidden; /* Asegúrate de que el contenido no sobresalga */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.table th, .table td {
            border: 0.5px solid #ADD8E6; /* Borde de celdas */
            padding: 0.5rem; /* Espaciado interno */
        }

.table th {
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
    color: #333; /* Color del texto en encabezados */
    background-color: #2980b9; /* Fondo para encabezados */
    color: #fff; /* Color del texto en encabezados */
    text-align: center; /* Centrar contenido si es apropiado */
}

.table td {
    font-size: 1rem; /* Tamaño de la fuente en celdas */
    color: #555; /* Color del texto en celdas */
}

.clickable-row {
        cursor: pointer; /* Cambia el cursor a una mano para indicar que la fila es clickeable. */
}
.card {
    border: 1px solid #e1e1e1; /* Establece un borde gris claro alrededor de las tarjetas. */
    border-radius: 0.5rem; /* Bordes redondeados para las tarjetas. */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para dar efecto de elevación. */
}

.btn {
    border-radius: 0.3rem; /* Bordes ligeramente redondeados para botones. */
}

.modal-header { 
    background-color: #2980b9; /* Fondo azul oscuro para el encabezado del modal. */
    color: #fff; /* Color blanco para el texto en el encabezado del modal. */
}

.modal-footer {
    justify-content: center; /* Centra los botones en el pie del modal. */
}

.input-group-text {
    background-color: #e9ecef; /* Fondo gris claro para las etiquetas en inputs. */
    border: 1px solid #ced4da; /* Borde gris para las etiquetas en inputs. */
}

.modal:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.btn:hover {
    background-color: #1f7a93; /* Un tono más oscuro */
    color: #fff; /* Asegúrate de que el texto sea legible */
}

.btn-submit:hover {
    background-color: #219653; /* Color más oscuro al pasar el cursor */
    cursor: pointer; /* Cambia el cursor para indicar interactividad */
}

.input-group {
    border: 1px solid #ced4da; /* Borde gris claro alrededor del grupo de entrada */
    border-radius: 0.25rem; /* Bordes redondeados */
    box-shadow: none; /* Eliminar sombra si hay */
    transition: border-color 0.3s; /* Transición suave al cambiar el borde */
}

.input-group:focus-within {
    border-color: #2980b9; /* Cambiar el color del borde al azul cuando el campo está en foco */
}

.form-control {
    border: 1px solid #e1e1e1; /* Borde gris claro para cada campo */
    border-radius: 0.25rem; /* Bordes redondeados */
    transition: border-color 0.3s; /* Transición suave al cambiar el borde */
}

.form-control:focus {
    border-color: #2980b9; /* Cambiar color del borde a azul al hacer foco */
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.5); /* Añadir sombra suave en foco */
}

.btn, .table th, .table td {
    transition: background-color 0.3s, color 0.3s; /* Transiciones para botones y celdas */
}

h1.h2 {
    font-size: 2rem; /* Tamaño más grande */
    color: #2980b9; /* Color atractivo */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    margin-bottom: 1rem; /* Espacio debajo del título */
    font-weight: bold; /* Hacer el texto más audaz */
    text-align: center;
}

h1.h2:hover {
    color: #1f7a93; /* Color más oscuro al pasar el mouse */
    transition: color 0.3s; /* Transición suave */
}

</style>

<div class="container-fluid">
    <!-- Main content -->
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Citas</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="modal"
                data-bs-target="#modalAgregarCita">Agregar</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Modificar</button>
        </div>
    </div>

    <!-- Appointments table -->
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Motivo</th>
                    <th>Doctor</th>
                </tr>
            </thead>
            <tbody>
                {% if citas %}
                {% for cita in citas %}
                <tr>
                    <td>{{cita['Nombres']}} {{cita['Apellido_Paterno']}} {{cita['Apellido_Materno']}}</td>
                    <td>{{cita['Fecha']}}</td>
                    <td>{{cita['Motivo']}}</td>
                    <td>Dr. {{cita['Nombres_doctor']}} {{cita['Apellido_p_doctor']}} {{cita['Apellido_m_doctor']}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="modalAgregarCita" tabindex="-1" aria-labelledby="modalAgregarPacienteLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h5" id="modalAgregarCitaLabel">Agregar Cita</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Agregar cita -->
                    <form action="/agregar_cita" method="post">
                        <div class="input-group flex-nowrap mb-2">
                            <label for="paciente" class="input-group-text">Nombre</label>
                            <select class="form-select" name="paciente" id="paciente">
                                <option value="-1" selected>----- Elige una opción -----</option>
                                {% if lista_pacientes %}
                                {% for paciente in lista_pacientes %}
                                <option value="{{paciente['ID_paciente']}}">{{paciente['Nombres']}}
                                    {{paciente['Apellido_paterno']}}
                                    {{paciente['Apellido_materno']}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="input-group flex-nowrap mb-2">
                            <label for="motivo" class="input-group-text">Motivo</label>
                            <textarea class="form-control" id="motivo" rows="3" name="motivo"></textarea>
                        </div>
                        <div class="input-group flex-nowrap mb-2">
                            <label for="apellido_m_paciente" class="input-group-text">Fecha</label>
                            <input type="date" name="fecha" id="fecha" class="form-control">
                        </div>
                        <div class="input-group flex-nowrap mb-2">
                            <label for="hora" class="input-group-text">Hora</label>
                            <input type="time" name="hora" id="hora" class="form-control" min="07:00" max="24:00"
                                step="1800" value="12:00">
                        </div>
                        <div class="input-group flex-nowrap mb-2">
                            <label for="doctor" class="input-group-text">Doctor asignado</label>
                            <select class="form-select" name="doctor" id="doctor">
                                <option value="-1" selected>----- Elige una opción -----</option>
                                {% if lista_doctores %}
                                {% for doctor in lista_doctores %}
                                <option value="{{doctor['ID_doctor']}}">Dr. {{doctor['Nombres']}}
                                    {{doctor['Apellido_paterno']}}
                                    {{doctor['Apellido_materno']}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="input-group flex-nowrap mb-2">
                            <input type="submit" name="submit" id="submit" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    {% endblock %}