{% extends 'Vertical-navbar.html' %}


{% block body %}
<div class="container-fluid">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Medica</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="modal"
                data-bs-target="#modalAgregarMedicina">Agregar</button>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar">
                <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
    <!-- Medication inventory table -->
    <div class="row">
        
        <div class="col-md-9">
            <!-- Medication inventory table -->
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Proveedor</th>
                            <th>Telefono proveedor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if medicamentos != None %}
                        {% for medicamento in medicamentos  %}
                        <tr id="{{medicamento['ID_Medicamento']}}" class="clickable-row">
                            <td>{{medicamento['Nombre_medicamento']}}</td>
                            <td>{{medicamento['Nombre']}}</td>
                            <td id="{{medicamento['ID_Proveedor']}}">{{medicamento['Teléfono']}}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title text-center">Acciones</h5>
                    <div id="appointmentDetails">
                        <!-- Appointment details will be shown here -->
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#modalAgregarMedicina">Agregar</button>
                        <button id="modificarBoton" class="btn btn-secondary">Modificar</button>
                        <button id="eliminarBoton" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Agregar Medicina -->
    <div class="modal fade" id="modalAgregarMedicina" tabindex="-1" aria-labelledby="modalAgregarMedicinaLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h5" id="modalAgregarMedicinaLabel">Agregar Medicina</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario dentro del modal -->
                    <form action="/agregar_medicamento" method="post">
                        <div class="input-group flex-nowrap mb-2">
                            <label for="nombre_medicamento" class="input-group-text">Nombre medicamento</label>
                            <input type="text" name="nombre_medicamento" id="nombre_medicamento" class="form-control" maxlength="20" required>
                        </div>
                        <div class="input-group flex-nowrap mb-2 justify-content-center">
                            <div class="form-check mx-3">
                                <input class="form-check-input" type="radio" name="elegir_proveedor" id="elegir_proveedor1" value="True" checked>
                                <label class="form-check-label" for="elegir_proveedor1">Elegir proveedor</label>
                            </div>
                            <div class="form-check mx-3">
                                <input class="form-check-input" type="radio" name="elegir_proveedor" id="elegir_proveedor2" value="False">
                                <label class="form-check-label" for="elegir_proveedor2">Agregar un nuevo proveedor</label>
                            </div>
                        </div>
                        <div class="input-group flex-nowrap mb-2" id="show-nombre-proveedor">
                            <label for="nombre_proveedor" class="input-group-text">Nombre</label>
                            <input type="text" name="nombre_proveedor" id="nombre_proveedor" class="form-control" maxlength="20">
                        </div>
                        
                        <div class="input-group flex-nowrap mb-2" id="show-telefono-proveedor">
                            <label for="telefono_proveedor" class="input-group-text">Teléfono de contacto</label>
                            <input type="tel" name="telefono_proveedor" id="telefono_proveedor" class="form-control" maxlength="10">
                        </div>
                        <div class="input-group flex-nowrap mb-2" id="show-select">
                            <label for="ID_proveedor" class="input-group-text">Nombre</label>
                            <select class="form-select" name="ID_proveedor" id="ID_proveedor">
                                <option value="-1" selected>----- Elige un proveedor -----</option>
                                {% if lista_proveedores %}
                                {% for proveedor in lista_proveedores %}
                                <option value="{{proveedor['ID_proveedor']}}">{{proveedor['Nombre']}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="input-group flex-nowrap mb-2">
                            <input type="submit" name="submit" id="submit" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modificar Medicina -->
    <div class="modal fade" id="modalModificarMedicina" tabindex="-1" aria-labelledby="modalAgregarMedicinaLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h5" id="modalModificarMedicinaLabel">Agregar Medicina</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario dentro del modal -->
                    <form id="form_medicina_mod" action="/modificar_medicamento" method="post">
                        <input type="hidden" value="0" id="modificar_medicina_id" name="modificar_medicina_id">
                        <div class="input-group flex-nowrap mb-2">
                            <label for="nombre" class="input-group-text">Nombre</label>
                            <input type="text" name="modificar_medicina_nombre" id="modificar_medicina_nombre" class="form-control">
                        </div>
                        
                        <div class="input-group flex-nowrap mb-2">
                            <label for="telefono_proveedor" class="input-group-text">Teléfono de contacto</label>
                            <input type="tel" name="modificar_medicina_telefono" id="modificar_medicina_telefono" class="form-control" maxlength="10" required>
                        </div>
                        <div class="input-group flex-nowrap mb-2">
                            <label for="ID_proveedor" class="input-group-text">Nombre</label>
                            <select class="form-select" name="modificar_medicina_id_proveedor" id="modificar_medicina_id_proveedor">
                                <option value="-1" selected>----- Elige un proveedor -----</option>
                                {% if lista_proveedores %}
                                {% for proveedor in lista_proveedores %}
                                <option value="{{proveedor['ID_proveedor']}}">{{proveedor['Nombre']}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        
                        <div class="input-group flex-nowrap mb-2">
                            <input type="submit" name="submit" id="change" class="form-control btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Eliminar Medicina -->
    <div class="modal fade" id="modalEliminarMedicina" tabindex="-1" aria-labelledby="modalEliminarMedicinaLabel"
        aria-hidden="true">
        <!-- Modal -->
        <div class="modal-dialog">
            <!-- Contenido -->
            <div class="modal-content">
                <!-- Titulos -->
                <div class="modal-header">
                    <h1 class="modal-title h5" id="modalEliminarMedicinaLabel">Eliminar Medicina</h1>
                </div>
                <!-- Cuerpo -->
                <div class="modal-body">
                    <!-- Formulario dentro -->
                    <form id="form_medicina_elim" action="/eliminar_medicamento" method="post">
                        <!--ID-->
                        <input type="input-group" name="eliminar_medicamento_id" id="eliminar_medicamento_id" class="form-control"
                            style="display: none;" value="">
                        <div class="modal-footer d-flex flex-column align-items-center">
                            <p class="mb-4">¿Estás seguro de que quieres continuar?</p>
                            <div class="text-end">
                                <button type="submit" name="eliminate" id="eliminate" class="btn btn-danger me-2">
                                    Eliminar
                                </button>
                                <button type="button" class="btn btn-primary me-2" data-bs-dismiss="modal"
                                    aria-label="Close">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
<script>
    let selectedRow = null;
    document.querySelectorAll('.clickable-row').forEach(row => {
        row.addEventListener('click', function () {
            // Seleccionar fila
            if (selectedRow) {
                selectedRow.classList.remove('table-primary');
            }
            selectedRow = this;
            selectedRow.classList.add('table-primary');

            const id = row.getAttribute('id'); // ID
            const nombre = row.children[0].textContent; // Ajustado a [0] para "Nombre"
            const proveedor = row.children[1].textContent; // Ajustado a [1] para "Dosis"
            const telefono = row.children[2].textContent; // Ajustado a [1] para "Dosis"
            const id_proveedor = row.children[2].getAttribute('id');

            // Verificar los datos con la consola 
            console.log(id)
            console.log(nombre)
            console.log(proveedor)
            console.log(telefono)
            console.log(id_proveedor)

            // Asignar valores al modal
            document.getElementById('modificar_medicina_id').value = id;
            document.getElementById('modificar_medicina_nombre').value = nombre;
            document.getElementById('modificar_medicina_telefono').value = telefono;
            document.getElementById('modificar_medicina_id_proveedor').value = id_proveedor;
            
            //Asignar para eliminar
            document.getElementById('eliminar_medicamento_id').value = id;
            console.log(document.getElementById('eliminar_medicamento_id').value)
        });
    });

    document.getElementById('modificarBoton').addEventListener('click', function () {
            if (!selectedRow) {
                alert('Por favor selecciona una fila para modificar.');
                return;
            }

            // Si hay una fila seleccionada, se muestra el modal
            const modal = new bootstrap.Modal(document.getElementById('modalModificarMedicina'));
            modal.show();
        });

        document.getElementById('eliminarBoton').addEventListener('click', function () {
            if (!selectedRow) {
                alert('Por favor selecciona una fila para eliminar.');
                return;
            }

            // Si hay una fila seleccionada, se muestra el modal
            const modal = new bootstrap.Modal(document.getElementById('modalEliminarMedicina'));
            modal.show();
        });

        // Evento para el checkb
        const checkbox1 = document.getElementById('elegir_proveedor1') //False
        checkbox1.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                console.log('Elegir proveedor existente')
                document.getElementById('show-nombre-proveedor').style.display = 'none'
                document.getElementById('show-telefono-proveedor').style.display = 'none'
                document.getElementById('show-select').style.display = 'flex'

                document.getElementById('nombre_proveedor').removeAttribute('required')
                document.getElementById('telefono_proveedor').removeAttribute('required')
                document.getElementById('ID_proveedor').setAttribute('required', 'true')
            } 
        })
        var event = new Event('change');
        checkbox1.dispatchEvent(event);

        const checkbox = document.getElementById('elegir_proveedor2') //True
        checkbox.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                console.log('Ingresar nuevo proveedor')
                document.getElementById('show-nombre-proveedor').style.display = 'flex'
                document.getElementById('show-telefono-proveedor').style.display = 'flex'
                document.getElementById('show-select').style.display = 'none'

                document.getElementById('nombre_proveedor').setAttribute('required', 'true')
                document.getElementById('telefono_proveedor').setAttribute('required', 'true')
                document.getElementById('ID_proveedor').removeAttribute('required')
            }
        })
</script>
{% endblock %}