{% extends 'Vertical-navbar.html' %}


{% block body %}
    <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Pacientes</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <button type="button" class="btn btn-sm btn-outline-secondary me-2">Agregar</button>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar">
                    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
        <!-- Patients table -->
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fulanito</td>
                        <td>MEX</td>
                        <td>
                            <button class="btn btn-sm btn-info">Agendar</button>
                            <button class="btn btn-sm btn-danger">Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Menganito</td>
                        <td></td>
                        <td>
                            <button class="btn btn-sm btn-info">Agendar</button>
                            <button class="btn btn-sm btn-danger">Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Perenganito</td>
                        <td></td>
                        <td>
                            <button class="btn btn-sm btn-info">Agendar</button>
                            <button class="btn btn-sm btn-danger">Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Zutanito</td>
                        <td></td>
                        <td>
                            <button class="btn btn-sm btn-info">Agendar</button>
                            <button class="btn btn-sm btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}