<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
    <title>
        {% block title %}
        MediLink - Template
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
</head>
{% block style %}
{% endblock %}
<body>
    <main>
    <div class="wrapper">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white sidebar" id="sidebar" style="min-height: 100vh; overflow-x: hidden;">
            <div class="sidebar-content">
                <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <button xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="toggle-btn" viewBox="0 0 32 32">
                        <i class="bi bi-list"></i>
                    </button>
                    <span class="fs-4" id="text">MediLink</span>
                </a>

                <hr>

                <div class="text-center" id="che">
                    <div class="d-flex flex-column align-items-center text-white text-decoration-none" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="75" height="75" class="rounded-circle me-2" id="image"> 
                        {% if session['Tipo_usuario'] is defined %}
                            {% if session['Tipo_usuario'] == 'doctor' %}
                            <strong id="text"> Dr. {{current_user['Nombres']}} {{current_user['Apellido_Paterno']}}</strong>
                            {% elif session['Tipo_usuario'] == 'recepcionista'  %}
                            <strong id="text"> Recepcionista {{current_user['Nombres']}} {{current_user['Apellido_Paterno']}}</strong>
                            {% endif %}
                        {% else %}
                        <strong>Invitado</strong>
                        {% endif %}
                    </div>
                </div>

                <hr>

                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{{url_for('Inicio')}}" class="nav-link {{ 'active' if current_page == 'Inicio' else 'text-white' }}" aria-current="page">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi me-2" viewBox="0 0 16 16">
                                <path
                                    d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
                            </svg>
                            <span id="text">Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('Pacientes')}}" class="nav-link {{ 'active' if current_page == 'Pacientes' else 'text-white' }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi me-2" viewBox="0 0 16 16">
                                <path
                                    d="M7 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zM2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h12z" />
                            </svg>
                            <span id="text">Pacientes</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('Agenda')}}" class="nav-link {{ 'active' if current_page == 'Agenda' else 'text-white' }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi me-2" viewBox="0 0 16 16">
                                <path
                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg>
                            <span id="text">Agenda</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('Inventario')}}" class="nav-link {{ 'active' if current_page == 'Inventario' else 'text-white' }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi me-2" viewBox="0 0 16 16">
                                <path
                                    d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z" />
                            </svg>
                            <span id="text">Inventario</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="/logout" class="nav-link text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi me-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                            </svg>
                            <span id="text">Cerrar Sesión</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
            {%block body%}
            {%endblock%}
    </main>
    {%block scripts%}
    {%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const menu = document.querySelector(".toggle-btn");

        menu.addEventListener("click", function () {
        document.querySelector("#sidebar").classList.toggle("expand");
        });
    </script>
</body>
</html>

